<h1>{{@model.gif.title}}</h1>
<img src={{@model.gif.images.original.url}} alt="GIF Image" />

<h2>Your Rating</h2>
<p>Rating: {{@model.rating}}/5</p>
<input
  type="number"
  min="1"
  max="5"
  value={{this.userRating}}
  {{on "input" this.updateRating}}
/>
<button {{on "click" this.submitRating}}>Submit Rating</button>
<button {{on "click" this.deleteRating}}>Delete Rating</button>
<h2>Comments</h2>
<textarea
  placeholder="Add your comment here..."
  value={{this.newComment}}
  {{on "input" this.updateComment}}
></textarea>
<button {{on "click" this.submitComment}}>Submit</button>
<ul>
  {{#each @model.comments as |comment|}}
    <li>{{comment.comment.comment}} - {{comment.user}}</li>
    {{!-- {{#if}}
      <button {{on "click" this.deleteComment}}>Delete</button>
    {{/if}} --}}
  {{/each}}
</ul>