<h1>{{@model.gif.title}}</h1>
<img src={{@model.gif.images.original.url}} alt="GIF Image" />

<h2>Your Rating</h2>
<p>Rating: {{@model.rating}}/5</p>
<input
  type="number"
  min="1"
  max="5"
  value={{this.userRating}}
  {{on "input" this.updateRating}}
/>
<button {{on "click" this.submitRating}}>Submit Rating</button>
<button {{on "click" this.deleteRating}}>Delete Rating</button>

<CommentSection
  @comments={{@model.comments}}
  @gifId={{@model.gif.id}}
  @currentUserId={{this.currentUserId}}
  @onDeleteComment={{this.deleteComment}}
  @onSaveComment={{this.saveComment}}
/>