{{page-title "Gif Finder"}}
<header class="hero-section">
  <h1><LinkTo @route="authenticated.home">🎬 GIF Finder</LinkTo></h1>
  <p class="tagline">Find and share your favorite GIFs!</p>
  <div class="auth-section">
    {{#if this.session.isAuthenticated}}
      <span class="user-info">
        Welcome,
        {{#if
          this.session.currentUser.email
        }}{{this.session.currentUser.email}}{{else}}User{{/if}}!
      </span>
      <button
        type="button"
        {{on "click" this.invalidateSession}}
        class="logout-btn"
      >
        Logout
      </button>
    {{else}}
      <LinkTo @route="login" class="login-link">Login</LinkTo>
      <LinkTo @route="register" class="register-link">Register</LinkTo>
    {{/if}}
  </div>
</header>
{{! This is where all route templates will be rendered }}
{{outlet}}